<!DOCTYPE html>
<html ng-app="analyze_app" ng-init="isFocused = true">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Analyzer</title>
	<link rel="stylesheet" href="./statics/style.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>

<script>
	var analyze_app = angular.module('analyze_app', []);
	
	analyze_app.controller('AnalyzeController', function($scope, AnalyzeFactory){
		$scope.histo_table = new Object();
		$scope.keys = [];
		$scope.content;

		$scope.analyze = function(){
			console.log("analyze button clicked!");

			// Reset the variables
			$scope.keys = [];

			// Setup string for processing
			var temp_string = $scope.input_text.text;
			$scope.content = $scope.input_text.text;

			var punctuations = [".",",","?","-","!",":", ";","%", "$", "[", "]", "#", "&"];
			// Prep the string before parsing by removing certain characters

			for (punctuation in punctuations){
				for (character in temp_string){
					//console.log(punctuations[punctuation]);
					temp_string = temp_string.replace(punctuations[punctuation], " ");
				}
			}

			// console.log("temp string = ", temp_string);
			var raw_words = temp_string.split(" ");

			// Parse the string
			for (var word in raw_words){
				if (raw_words[word].length > 1) {
					if ($scope.histo_table[raw_words[word]]){
						$scope.histo_table[raw_words[word]]++;
					} else {
						$scope.histo_table[raw_words[word]] = 1;
						
						// store the keys
						$scope.keys.push(raw_words[word]);
					}
				}
			}

			// Reorder the histogram based on key/value pair
			console.log($scope.histo_table);

			// Clear input and reset focus
			$scope.input_text = {};
			$scope.isFocused = true;
	   };

	   function sortHistorgram(input){

	   }
	});

	analyze_app.factory('AnalyzeFactory', function(){
		var factory = {};

		return factory;
	});
                
</script>

<body ng-controller="AnalyzeController">
	<h1>Input Text</h1>
	<textarea name="input-text" id="input-text" ng-model="input_text.text" autofocus ng-focus="isFocused = true">

	</textarea><br>
	<input type="button" value="Analyze Text" ng-click="analyze()">

	<h1>Histogram of All Words</h1>
  	<input type="text" ng-model="filter_name" placeholder="filter">
	<ul>
	 <!-- here is where we are going to display all words and occurence  -->
	 	<li ng-repeat="key in keys | filter: filter_name">
	      {{key}} -- {{histo_table[key]}}
	    </li>
	</ul>

	<h1>Original Text </h1>
	<p>{{content}}</p>

</body>
</html>